* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orangey-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);
  --clr-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --clr-persian-blue-circle: hsla(241, 72%, 46%, 0);
  --bclr-light-slate-blue: hsl(252, 100%, 67%);
  --bclr-light-royal-blue: hsl(241, 81%, 54%);
  --nclr-pale-blue: hsl(221, 100%, 96%);
  --nclr-light-lavender: hsl(241, 100%, 89%);
  --nclr-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  background-color: hsl(0, 0%, 100%);
  margin: 100px auto;
  text-align: center;
  line-height: 1.5;
  font-family: "Hanken Grotesk" "Sans Serif";
  font-size: 18px;
}

.container {
  display: flex;
  max-width: 1440px;
  padding: 40px;
}

.result__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bclr-light-royal-blue);
  border-radius: 15px;
  padding: 30px;
  color: white;
}
.circle__result {
  background-color: var(--clr-violet-blue-circle);
  width: 150px;
  height: 150px;
  margin-inline: auto;
  border-radius: 160px;
}

.circle__result p {
  text-align: center;
  margin-top: 40px;
  color: var(--nclr-light-lavender);
  line-height: 1;
}
.circle__result span {
  font-size: 4rem;
  color: white;
}

.result__section header > h4 {
  color: var(--nclr-light-lavender);
}
footer p {
  color: var(--nclr-light-lavender);
  width: 250px;
}
