* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-light-red: rgb(255, 87, 87);
  --clr-orangey-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  --clr-cobalt-blue: hsl(234, 85%, 45%);
  --clr-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --clr-persian-blue-circle: hsla(241, 72%, 46%, 0);
  --bclr-light-slate-blue: hsl(252, 100%, 67%);
  --bclr-light-royal-blue: hsl(241, 81%, 54%);
  --nclr-pale-blue: hsl(221, 100%, 96%);
  --nclr-light-lavender: hsl(241, 100%, 89%);
  --nclr-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  font-family: "Hanken Grotesk" "Sans Serif";
  font-size: 18px;
}

/* Main Container */

.container {
  display: flex;
  max-width: 1440px;
  padding: 40px;
}

/* Result Section */

.result__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bclr-light-royal-blue);
  border-radius: 20px;
  padding: 30px;
  color: white;
  box-shadow: 0px 15px 10px rgb(206, 202, 202);
  z-index: 1;
}
.circle__result {
  background-color: var(--clr-violet-blue-circle);
  width: 150px;
  height: 150px;
  margin-inline: auto;
  border-radius: 160px;
}

.circle__result p {
  text-align: center;
  margin-top: 40px;
  color: var(--nclr-light-lavender);
  line-height: 1;
}
.circle__result span {
  font-size: 4rem;
  color: white;
}

.result__section header > h4 {
  color: var(--nclr-light-lavender);
}
footer p {
  color: var(--nclr-light-lavender);
  width: 250px;
}

/* Summary Section */

.summary__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--nclr-pale-blue);
  max-width: 310px;
  width: 310px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px 30px 30px 55px;
  margin-left: -25px;
  box-shadow: 15px 15px 10px rgb(206, 202, 202);
}

.summary__section h4 {
  text-align: left;
}

.stats__block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 15px;
  height: 35px;
  position: relative;
}

/* Positioning Summary Blocks and Elements */

.stats__block div > p:nth-of-type(1) {
  position: absolute;
  left: 40px;
}
.stats__block div:nth-of-type(1) {
  background-color: hsl(0, 100%, 67%, 0.1);
  border-radius: 5px;
}

/* Transparency Colors Block */

.stats__block div:nth-of-type(2) {
  background-color: hsl(39, 100%, 56%, 0.1);
  border-radius: 5px;
}
.stats__block div:nth-of-type(3) {
  background-color: hsl(166, 100%, 37%, 0.1);
  border-radius: 5px;
}
.stats__block div:nth-of-type(4) {
  background-color: hsl(234, 85%, 45%, 0.1);
  border-radius: 5px;
}

/* Font Colors Stats */

.stats__block div:nth-of-type(1) p:nth-of-type(1) {
  color: var(--clr-light-red);
}

.stats__block div:nth-of-type(2) p:nth-of-type(1) {
  color: var(--clr-orangey-yellow);
}
.stats__block div:nth-of-type(3) p:nth-of-type(1) {
  color: var(--clr-green-teal);
}
.stats__block div:nth-of-type(4) p:nth-of-type(1) {
  color: var(--clr-cobalt-blue);
}

/* Transparency Font */

.stats__block--bold {
  font-weight: 600;
}

.stats__block div p:nth-of-type(2) {
  color: var(--nclr-light-lavender);
}

/* Button */

.summary__section button {
  background-color: var(--nclr-dark-gray-blue);
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.15s;
  margin-top: 15px;
}

.summary__section button:hover {
  background-color: var(--clr-cobalt-blue);
}
.summary__section button:active {
  opacity: 0.5;
}
